body {
    margin: 0;
    padding: 0;
}

.arrayData {
    position: fixed;
    left: 50%;
    bottom: -14rem;
    transform: translate(-50%, -50%) rotate(180deg);
    margin: 0 auto;
    width: "2px";
    display: flex;
    justify-content: center;
    margin: auto;
}

.centerButton {
    display: flex;
    justify-content: center;
}

.buttonStyle {
    background-color: aquamarine;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 2px;
    cursor: pointer;
    border-radius: 16px;
}

