.array {
    margin: 20% auto 0 auto;
    border: 2px solid red;
    height: 6.2rem;
}

.array-box {
    display: grid;
    justify-content: space-evenly;
    width: 5rem;
    height: 5rem;
    border: 2px solid black;
    text-align: center;
    padding: 0.5rem;
    float: left;
}

.element {
    position: relative;
    top: 35%;
    left: 40%;
    width: 1rem;
    height: 1rem;
}