.array {
    margin: 20% auto 0 auto;
    border: 2px solid darkcyan;
    background-color: lightgoldenrodyellow;
}

.array-box {
    display: grid;
    grid-template-columns: repeat(10, auto);
    border: 2px solid red;
    background-color: lightgray;
    height: 2rem;
    justify-content: space-evenly;
    margin: 0 5rem 0 5rem;
}

.element {
    border: 2px solid blue;
    background-color: lightblue;
    width: 2rem;
    height: 1.8rem;
    font-size: x-large;
}

.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-family: inherit;
  }